<?xml version='1.0' encoding='utf-8'?>
<widget id="com.your_reverse_domain.instabatch" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>instabatch</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
	<preference name="DisallowOverscroll" value="true" />
	<preference name="StatusBarOverlaysWebView" value="true" /> 
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />
    <content src="index.html" />
    <access origin="*" />
</widget>
